@import "colores";

.bodyContacto {
    background-color: $colorPrimario;
}
.mailWhats{
    div{
        img{
            width: 30px;
            height: 30px;
        }
    }
}

.contactoArt {
    margin-top: 35px;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    textarea{
        width: 60%;
        height: 200px;            
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

    }
    input{
        @extend textarea;
        height: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        &.enviarInput{
            width: 62px;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            cursor: pointer;
        }        

    }
    section{
        width: 40%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

    }

}

@media screen and (max-width: 768px){

    .mailWhats{
        div{
            img{
                width: 15px;
                height: 15px;
            }
            a{
                font-size: 11px;
            }
        }
    }
}

