main{
    height: 100vh;
    font-weight: bolder;
    text-align: center;
    background-image: url(../img/posibleMainimg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    hr{
        margin-top: 0px;
    }
    h1{
        width: 400px;
        background-color: #fff9e6;
        padding: 12px;
        font-size: 72px;
        font-weight: bolder; 
        mix-blend-mode: screen;
        margin:0 auto;
    }
    h4{
        background-color: #fff9e6;
        padding: 12px;
        font-weight: bold;
        color: black;
        mix-blend-mode: screen;
        margin:0 auto;
        width: 400px;        
    }
}
@media screen and (max-width: 768px) {
    h4{     
       display:none;
    }
    h1{
        margin: 0 auto;
    }
    hr {
        color: white;
        height: 5px;
        background-color: white;
        opacity: 1;
      }
    main{
        width: 100%;
    }
}    