@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import "colores";

html, body{
    height: 100%;

}
html{
    background-color: $colorPrimario;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: $colorSecundario;
    font-family: 'Square Peg', cursive; 
    margin: 0 auto;
    
}
ul{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: $colorBlack;
    &:hover{
        font-weight: bolder;
        color: lightyellow;
    }
}
/*header*/
.menuFijo{
    background-color: $colorPrimario;
    font-size: 20px;
    font-weight: bold;
    
}

/*enlaces superiores derechos*/
nav ul.redesLista{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 4cm;
    display: flex;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    font-size: large;
          
}
ul.redesLista:last-child{
    margin-right: 45px;
}

img.redes{
    width: 30px;
    padding-right: 4px;
    margin-right: 4px;
}
.redes{
    font-size: large;
    font-weight: bolder;
    
}
.redesLista li:first-child{
    margin-left: 94%;
}
div.p-2:last-of-type{
    margin-right:30px;
}
/*menú desplegable izquierda*/
.indexMenu {
    list-style-type: none;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 2px, 2px, 2px, 2px;
    overflow: hidden;
    
    
}
button.dropown{
    width: 100px;
    font-size: 24px;
    background-color: $colorPrimario;
    border-color: #ece7d6;
    margin-left: 25px;
}
div a.ingreso{
    margin-left: 1080px;
}
/*main*/
#Main{
    width: 80%;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;

    
}


section.mainLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
      
}    
section.mainLinks span{
    width: 100px;
    height: 100px;
}
div.flexDiv{
    display:flex;
    flex-direction: row;
    border-color: none;
    --bs-card-border-width: 0;
}
.card-img-overlay h5 a{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 60%;
    margin: -25px 0 0 -25px;
    font-size: 20px;
    font-weight: bolder;
}
.divTitulo{
    
    width: 75%;
    height: 395px;
    margin: 0 auto;
    background-image: url(./img/mainclemat.png); 
    h3{
        font-weight: bold;
    } 


}

img.mainImg{
    width: 100px;
}
h1{
    font-size: 46px;
    font-weight: bolder;
    justify-content: flex-start;
}

.instagram-media{
    float: center;
    
}

h4{
    font-weight: bold;
    color: $colorBlack;
    
}
/*footers*/
footer{
    background-color: rgb(97, 96, 96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    ul{
        color: white;
    } 
}


/*página Quienes Somos*/
.bodyQuienes{
    background-color: $colorQuienes;
}
.quienesSomos{
    width: 75%;
    height: 400px;
    margin: 0 auto;
    background-image: url(img/yaniymari.jpeg);
    color: white;
    text-align: center
}
.proposito{
    text-align: center;
}
.quienesTitulo{    
    background-color: $colorQuienes;
    width: 50%;
    height: 24px;
    margin:0 auto;
    margin-top: 3px;
    font-size: 12px;
    border-bottom: dotted 2px $colorSecundario;
    color: $colorBlack;
}
.quienesProfes{
    display: flex;
    flex-direction: row;
}
.nombresQuienes{
    color: $colorSecundario;
    display: flex;
    flex-direction: row;
    width: 10%;
    margin: 0 auto;
    align-items: center;
}
article p{
    width: 50%;
    margin:0 auto;
}
/*agrego transition*/
h5.card-title a{
    transition: 2s;
}
  
h5.card-title a:hover{
    font-size: 27x;
    font-weight: bolder;
    color: lightyellow;
}
/*pestaña clases*/
.bodyClases{
    background-color: #DC632C;

}
.clases{
    width: 75%;
    height: 500px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
}
.mensuales{
    width: 50%;
    background-image: url(img/lasalablanca.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.talleres{
    width: 50%;
    background-image: url(img/letournispadel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*contacto*/
.bodyContacto{
    background-color: $colorPrimario;
}   
.contactoArt{
    width: 75%;
    height: 400px;
    margin: 0 auto;
}
.espacioInput{
    width: 60%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.consultaInput{
    width: 60%;
    height: 100px;
    margin:0 auto;
    display: flex;    
}
.enviarInput{
    width: 5%;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
}
.mailWhats{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*página Productos*/
.bodyProductos{
    background-color: #EAC867;
    margin:0 auto; 

}

div h2{
    display: flex;
    justify-content: center;
}
div.celulares{
    display: none;
}
section.libros, section.productos{
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 35%;
    margin: 0 auto;
}

.card-img-top{
    height: 50%;
}

@media screen and (max-width: 768px) {
    body{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 4fr;
        grid-template-areas: 
        "header"
        "main"
        ;
    }
    img.mainImg{
        width: 100%;
        
    }
    .redesLista li:first-child{
        margin-left: 40%;
    }

   
    main#Main{
        grid-area: main;
        display: flex;
        flex-direction: row;  
        display: grid;
        grid-template-columns: 1fr 1fr;  
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 
        "quienes producto"
        "clases contacto";  
        
    }
    main#main:first-child{
        grid-area: quienes;
        
    }
    main#main:nth-child(2){
        grid-area: producto;
        
    }
    main#main:nth-child(3){
        grid-area: clases;
        
    }
    main#main:last-child{
        grid-area: contacto;
        
    }

    section.divTitulo{
        grid-area: section;
        display: none;
    }    
    footer#pie{
        display: none;
    }
    ul.dropDown{
        grid-area: drop;
        margin-top: 2px;
        margin-bottom: 1px;
        display: none;
    }
    nav.menuFijo{
        grid-area: header;

    }
    section.mainLinks{
        display: none;
    }
    .card-img-overlay h5 a{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 60%;
        margin: -25px 0 0 -25px;
        font-size: 20px;
        font-weight: bolder;
    }
    

    section.mainImg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
      }
    span a img{
        width:200px;
    }
    .menuFijo{
        background-color: $colorSecundario;
    }
    .bodyClases{
        background-color: $colorPrimario;
    }
    nav.menuFijoC{
        display: none;
    }
    

    /*responsive Clases*/
    body.bodyClases{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-areas: 
        "header"
        "article"
        "footer"
        ;
    }

    footer.footerClas{
        grid-area: footer;
        background-image: url(../piedepagMobileClases.JPG);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    article.Clases{
        grid-area: article;
    }
    footer.footerClas ul{
        display: none;
    }
    footer.footerClas h6{
        display: none;
    }

    .clases {
        width: 100%;
        height: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    section.mensuales, section.talleres{
        width: 100%;
        text-align: center;
    }
    section.mensuales{
        background-image: url(./img/rectanguloarticleMobile.png);
        background-size: cover;
    }
    section.talleres{
        background-image: url(./img/rectanglearticle2Mobile.png);
        background-size: cover;
        
    }
    div.imagenMobile{
        grid-area: header;
        display: block;
        display: flex;
        justify-content: center;
    }
    div.celulares{
        display: inline;
    }
    div.productoDesktop, div.otrosDesktop{
        display: none;
    }
    div.h2{
        display: none;
    }
    section.libros{
        display: none;
    }
    section.productos{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {}
