@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;1,400;1,600;1,700&display=swap');
@import "colores";
@import "main";
@import "clases";
@import "productos";
@import "contacto";
@import "quienes";
@import "header";
@import "footer";
@import "medias";

$marron: #f7de9c;
$rojo: #fd7317ee;
$celeste: #97b9bb;
$amarillo: #eac867;
$piel: #fff9e6;

$colorPages:(
    indice: $marron,
    bodyClases: $rojo,
    bodyQuienes: $celeste,
    bodyProductos: $amarillo,
    bodyContacto: $piel,
);

@each $page, $color in $colorPages{
      .#{$page}{
        background-color: $color;
    }
}

html{
    height: 100%;
    background-color: $colorPrimario;
    body{
        margin: 0;
        padding: 0;
        background-color: $colorTres;
        font-family: 'Mulish', sans-serif; 
        margin: 0 auto;

    }
    
}

ul{
  list-style: none;           
}
a{
  text-decoration: none;
  color: black;
    &:hover{
        font-weight: bolder;
        color: $colorSecundario;
    }
} 

div{
    h2{
      display: flex;
      justify-content: center;
    }
    &.celulares{
        display: none;
    }

}

article{ 
    div{
        img{
            width: 40rem;
            height: 25rem;
        }       
    }      
}  
button.mobileCanvas{
   display: none;
}
