@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;1,400;1,600;1,700&display=swap");
main {
  height: 100vh;
  font-weight: bolder;
  text-align: center;
  background-image: url(../img/posibleMainimg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

main hr {
  margin-top: 0px;
}

main h1 {
  width: 400px;
  background-color: #fff9e6;
  padding: 12px;
  font-size: 72px;
  font-weight: bolder;
  mix-blend-mode: screen;
  margin: 0 auto;
}

main h4 {
  background-color: #fff9e6;
  padding: 12px;
  font-weight: bold;
  color: black;
  mix-blend-mode: screen;
  margin: 0 auto;
  width: 400px;
}

@media screen and (max-width: 768px) {
  h4 {
    display: none;
  }
  h1 {
    margin: 0 auto;
  }
  hr {
    color: white;
    height: 5px;
    background-color: white;
    opacity: 1;
  }
  main {
    width: 100%;
  }
}

header {
  font-size: 20px;
  background-color: #fbf2e1;
  background-color: #fff9e6;
}

header nav {
  background-color: #fbf2e1;
}

header nav div {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav div a img {
  width: 50px;
}

header nav section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav section div a.ingreso {
  margin-right: 10px;
}

header ul.redesLista {
  background-color: #fbf2e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cairo', sans-serif;
  font-weight: bolder;
  font-size: large;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0px;
}

header ul.redesLista img {
  width: 30px;
  padding-right: 4px;
  margin-right: 4px;
}

header section.d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header section.d-flex button {
  width: 100px;
  font-size: 22px;
  background-color: #fff9e6;
  border-color: #ece7d6;
  margin-left: 25px;
}

header section.d-flex ul {
  font-size: 22px;
}

header section.d-flex section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 22px;
}

header section.d-flex section a.ingreso {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  hr {
    color: white;
    height: 5px;
    background-color: white;
    opacity: 1;
  }
  header {
    font-size: 20px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav.navbar {
    display: none;
  }
  header button.mobileCanvas {
    display: block;
  }
  header ul.redesLista {
    display: none;
  }
  ul.redesListaCanvas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/*FOOTERS*/
footer .main-footer {
  padding: 20px 0;
  background: #252525;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0;
}

.footer-copyright .logo {
  display: inherit;
}

.footer-copyright nav {
  float: right;
  margin-top: 5px;
}

.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}

.footer-copyright nav ul li a {
  color: #969696;
}

.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer {
  background: transparent;
}

footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9;
}

footer.light .main-footer {
  background: #f9f9f9;
}

footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
  display: inline-block;
}

/*==================== 
  Widgets 
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px;
}

.widget.widget-last {
  margin-bottom: 0px;
}

.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.widget.subscribe p {
  margin-bottom: 18px;
}

.widget li a {
  color: #A0B9F1;
}

.widget li a:hover {
  color: #4b92dc;
}

.widget-title {
  margin-bottom: 20px;
}

.widget-title span {
  background: #839FAD none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%;
}

.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}

.widget-title.text-center span, .widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.widget .badge {
  float: right;
  background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff;
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}

ul.social-footer2 li a:hover {
  background-color: #A0B9F1;
}

ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.btn {
  background-color: #fff9e6;
  color: #fff;
}

.btn:hover, .btn:focus, .btn.active {
  background: #fff9e6;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

.indice {
  background-color: #f7de9c;
}

.bodyClases {
  background-color: #fd7317ee;
}

.bodyQuienes {
  background-color: #1d9bf0;
}

.bodyProductos {
  background-color: #eac867;
}

.bodyContacto {
  background-color: #fff9e6;
}

html {
  height: 100%;
  background-color: #fff9e6;
}

html body {
  margin: 0;
  padding: 0;
  background-color: #B7AC72;
  font-family: 'Mulish', sans-serif;
  margin: 0 auto;
}

html body.bodyProductos {
  background-color: #EAC867;
  margin: 0 auto;
}

html body.bodyClases {
  background-color: #DC632C;
}

html body.bodyQuienes {
  background-color: #A0B9F1;
}

html body.bodyContacto {
  background-color: #fff9e6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bolder;
  color: #A0B9F1;
}

section.divTitulo img {
  width: 100%;
  height: 550px;
}

section.libros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  height: 35%;
  margin: 0 auto;
}

section.libros div img {
  height: 50%;
}

section.libros div p {
  font-size: 20px;
  font-weight: bold;
}

section.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  height: 35%;
  margin: 0 auto;
}

section.productos p {
  font-size: 20px;
  font-weight: bold;
}

section.imgIndex {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.imgIndex div img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

section.imgIndex div img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

div h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.celulares {
  display: none;
}

div.somos {
  height: 70vh;
  background-image: url(../img/yaniymari.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.somos h2 {
  width: 40%;
  background-color: #fff9e6;
  padding: 12px;
  font-size: 72px;
  font-weight: bolder;
  mix-blend-mode: screen;
  margin: 0 auto;
}

article.quienesSomos {
  width: 75%;
  height: 1400px;
  margin: 0 auto;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: space-around article p;
      align-content: space-around article p;
  align-content-width: 50%;
  align-content-margin: 0 auto;
}

article.quienesSomos section.proposito {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article.quienesSomos section.proposito div {
  width: 400px;
}

article.quienesSomos section.proposito div.quienesTitulo {
  height: 33px;
  margin: 0 auto;
  font-size: 12px;
  color: black;
}

article.quienesSomos section.proposito div.quienesTitulo h2 {
  font-weight: bolder;
}

article.quienesSomos section.proposito div p {
  font-weight: 900;
}

article.quienesSomos section.quienesProfes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 500px;
}

article.quienesSomos section.quienesProfes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article.quienesSomos section.quienesProfes div.card-body h5 {
  color: black;
}

article.quienesSomos section.quienesProfes div.card-body p {
  color: grey;
}

article.quienesSomos.nombresQuienes {
  color: #fff9e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 10%;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

article div img {
  width: 40rem;
  height: 25rem;
}

article div.quienesTitulo {
  margin-top: 45px;
  height: 33px;
  margin: 0 auto;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
}

article div.quienesTitulo h2 {
  font-weight: bolder;
}

article.clases {
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

article.clases section {
  width: 50%;
  font-size: 26px;
  font-weight: bold;
}

article.clases section.mensuales {
  background-image: url(../img/lasalablanca.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

article.clases section.talleres {
  background-image: url(../img/letournispadel.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

article.contactoArt {
  width: 75%;
  height: 100vh;
  margin: 0 auto;
}

article.contactoArt textarea, article.contactoArt input {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.contactoArt input {
  height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

article.contactoArt input.enviarInput {
  width: 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

article.contactoArt section {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

article.p-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bolder;
  font-family: 'Mulish', sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 120px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

button.mobileCanvas {
  display: none;
}

@media screen and (max-width: 768px) {
  .btn-primary {
    font-weight: bold;
    --bs-btn-color: #00000;
    --bs-btn-bg: #fff9e6;
    --bs-btn-border-color: #fff9e6;
    --bs-btn-hover-bg: #fff9e6;
    --bs-btn-hover-border-color: #fff9e6;
    --bs-btn-active-bg: #fff9e6;
    --bs-btn-focus-shadow-rgb: 255,249,230;
  }
  div.offcanvas {
    --bs-offcanvas-width: 375px;
  }
  h5.offcanvas-title {
    color: black;
    font-size: 40px;
  }
  .offcanvas-title li {
    border-bottom: 3px solid black;
  }
  .offcanvas.offcanvas-start {
    background-color: #A0B9F1;
  }
  button img {
    width: 100px;
  }
  body {
    width: 100%;
  }
  article {
    width: 100%;
  }
  article.p-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 120px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  article.quienesSomos {
    height: 1600px;
  }
  article.quienesSomos div img.imgSomos {
    display: none;
  }
  article.quienesSomos section.quienesProfes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 400px;
  }
  section.imgIndex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.imgIndex div img {
    width: 200px;
    height: 200px;
  }
  div.somos h2 {
    width: 100%;
    background-color: #fff9e6;
  }
  .menuFijo {
    background-color: #B7AC72;
  }
  .bodyClases {
    background-color: #fff9e6;
  }
  nav.menuFijoC {
    display: none;
  }
  /*responsive Clases*/
  body.bodyClases {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 2fr 2fr 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-areas: "header" "article" "footer";
  }
  footer.footerClas {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
    background-image: url(../piedepagMobileClases.JPG);
    background-repeat: no-repeat;
    background-size: cover;
  }
  article.Clases {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: article;
  }
  footer.footerClas ul {
    display: none;
  }
  footer.footerClas h6 {
    display: none;
  }
  .clases {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  section.mensuales, section.talleres {
    width: 100%;
    text-align: center;
  }
  section.mensuales {
    background-image: url(./img/rectanguloarticleMobile.png);
    background-size: cover;
  }
  section.talleres {
    background-image: url(./img/rectanglearticle2Mobile.png);
    background-size: cover;
  }
  div.imagenMobile {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.celulares {
    display: inline;
  }
  div.productoDesktop, div.otrosDesktop {
    display: none;
  }
  div.h2 {
    display: none;
  }
  section.libros {
    display: none;
  }
  section.productos {
    margin-top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 318px;
  }
}
/*# sourceMappingURL=style.css.map */